
.colorBoxMin{
    display: grid;
    grid-template-areas:
    'color'
    'box';
    position: relative;
    /*width: 68px;*/
    height: 44px;
    margin-bottom: 36px;
    width: 100%;

}

.colorBoxMin h4 {
    grid-area: color;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    /*display: flex;*/
    /*align-items: center;*/
    margin-bottom: 8px;
    color: #1D1F22;
}

.colorBoxMin .colors{
    grid-area: box;
    display: flex;
    flex-flow: row;
    align-items: end;
    justify-content: flex-start;
    gap: 8px;
    padding: 0;

}

.colorBoxMin .colors input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.colorBoxMin .colors input[value] {
    color: transparent;
}

.colorBoxMin input[type="button" i] {
    border-style: none;
}

.colorBoxMin input:hover{
    border: 2px solid rgba(94, 206, 123, 1);
    /*поровнять*/
}

.select{
    border: 2px solid rgba(94, 206, 123, 1);
}

