.cartPage {
    display: flex;
    flex-direction: column;
}

.cartPage h1{
    margin: 0;
    padding-bottom: 55px;
    border-bottom: 1px solid #E5E5E5;
}
.cartPage .priceBlock p{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}
.cartPage .cartProduct {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 21rem;
    border-bottom: 1px solid #E5E5E5;
    box-sizing: border-box;
}

/******************************cartProductInfo***************************/

.cartPage .cartProduct .cartProductInfo {
    flex: 1;
    padding: 24px 0 30px 0;
}

.cartPage .cartProduct .cartProductInfo h3 {
    margin: 0 0 16px 0;
}

.cartPage .cartProduct .cartProductInfo .brand {
    font-weight: 400;
    margin: 0 0 20px 0;
}

.cartPage .cartProduct .cartProductInfo .priceBlock{
    margin: 0 0 20px 0;
}
.cartPage .cartProduct .cartProductInfo .sizeBlock{
    margin: 0 0 16px 0;
}
.cartPage .cartProduct .cartProductInfo .colorBlock{
    margin: 0 0 30px 0;
}


/******************************cartProductPhoto***************************/
.cartPage .cartProduct .cartProductPhoto {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px 0 24px 0;
    gap: 24px;
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
}

.cartPage .cartProduct .cartProductPhoto .photos{
    position: relative;
    width: 200px;
    height: 288px;
    overflow: auto;
}
.cartPage .cartProduct .cartProductPhoto img {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: contain;
    vertical-align: middle;
}

/****************selectAmount**********************/
.cartPage .cartProduct .cartProductPhoto .selectAmount {
    width: 45px;
    height: 288px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cartPage .cartProduct .cartProductPhoto .selectAmount input {
    box-sizing: border-box;
    border: 1px solid #1D1F22;
    opacity: 0.7;
    width: 45px;
    height: 45px;
    cursor: pointer;
    background-color: transparent;

    text-align: center;
    line-height: 45px;
    font-size: 34px;
}
input[value='-']{
    padding-bottom: 2px;
}
.cartPage .cartProduct .cartProductPhoto .selectAmount .label {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    color: #000;
    cursor: initial;
    border: none;

}
/************************total*********************************************/
.cartPage .total{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    margin-top: 32px;

    width: 279px;
    height: auto;
}

.cartPage h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #1D1F22;
    margin-bottom: 8px;
}
.cartPage .sum h5{
    font-weight: 700;
}

.cartPage button {
    height: 43px;
    width: 279px;
    display: flex;
    font-size: 14px;
    margin-top: 8px;
}

.cartPage a:hover{
    text-decoration: underline 2px #1D1F22;
}



