.productPage {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.productPage h2 {
    margin: 0 0 16px 0;
    display: flex;
}

.productPage button{
    margin-bottom: 40px;
    width: 100%;
}

/*******************************images****************************************/
.productPage .gallery{
    display: flex;
    flex-flow: column;
    gap: 40px;
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
    cursor: pointer;
    position: relative;
    height: 595px;
    width: 80px;
    overflow: auto;
}

.productPage .gallery::-webkit-scrollbar{
    width: 0;
}

.productPage .gallery img {
    width: 79px;
    height: 80px;
    display: flex;
    object-fit: cover;
    vertical-align: middle;
    background: #fff;
}

/*******************************info****************************************/

.productPage .info{
    width: 1002px;
    height: 595px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.productPage .productPhoto {
    width: 610px;
    height: 511px;
    display: flex;
    object-fit: contain;
    vertical-align: middle;
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
}

.productPage .info .name {
    width: 292px;
    height: 590px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
    padding: 2px;
    box-sizing: border-box;
}

.productPage .outOfStock span {
    font-size: 30px;
}

.productPage .info .name .brand {
    font-weight: 400;
    margin-bottom: 19px;
}
.productPage .price {
    margin: 36px 0 30px 0;
}

.productPage .price h4 {
    margin-bottom: 20px
}

.productPage .price p {
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
}

/*********************description******************************/

.productPage .description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}



