.productPage {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.productPage .productImages{
    display: flex;
    flex-flow: column;
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
    cursor: pointer;

    position: relative;
    height: 595px;
    width: 80px;
    overflow: auto;
}
.productPage .productImages::-webkit-scrollbar{
    width: 0;
}

.productPage .productImages img {
    width: 4.9rem;
    height: 5rem;
    margin-bottom: 2.5rem;

    display: flex;
    object-fit: cover;
    vertical-align: middle;
    background: #FFFDFD;
}


.productPage .productInfo{
    width: 62.6rem;
    height: 37rem;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.productPage .productInfo .brand{
    font-weight: 400;
    margin: 0 0 43px 0;
}
.productPage .productInfo .productPhoto {
    width: 38rem;
    height: 32rem;
    display: flex;
    object-fit: cover;
    vertical-align: middle;

    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
}

.productPage .productInfo .info {
    width: 18.2rem;
    height: 37rem;
    display: flex;
    flex-direction: column;
}

.productPage .priceBlock {
    margin-bottom: 20px;
}

.productPage button{
    margin-bottom: 40px;
    width: 100%;
}

.productPage h5 {
    font-weight: 700;
    line-height: 18px;
    color: #1D1F22;
    margin: 20px 0 20px 0;
}
.productPage .description span{
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 159.96%;
    color: #1D1F22;
}
.productPage .productInfo h1{
    display: flex;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-transform: revert;
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 8px 0;
    line-height: normal;
}
.productPage .productInfo p{
    display: flex;
    width: 100%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 159.96%;
    color: #1D1F22;
}
