.sizeBoxMin h4, .colorBoxMin h4{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    font-weight: 400;
}

.sizeBoxMin {
    display: grid;
    row-gap: 8px;
    grid-template-areas:
    'size'
    'box';
    position: relative;
    width: 100%;
    height: 48px;
    margin-top: 8px;
}

.sizeBoxMin h4 {
    grid-area: size;
}

.sizeBoxMin .size{
    grid-area: box;
    display: flex;
    align-items: end;
    gap: 8px;
}

.sizeBoxMin .size input[type="button" i]{
    width: 24px;
    height: 24px;
    padding: 0;

    background: #FFFFFF;
    border: 1px solid #1D1F22;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.sizeBoxMin .size input[value] {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #1D1F22;
}

.sizeBoxMin .size input[type="button" i].select{
    background: #1D1F22;
    color: #FFFFFF;
}

/*************************colorBox******************************/

.colorBoxMin{
    display: grid;
    grid-template-areas:
    'color'
    'box';
    position: relative;
    /*width: 68px;*/
    height: 44px;
    margin-top: 8px;
    width: 100%;

}

.colorBoxMin h4 {
    grid-area: color;
}

.colorBoxMin .colors{
    grid-area: box;
    display: flex;
    flex-flow: row;
    align-items: end;
    justify-content: flex-start;
    gap: 8px;
    padding: 0;
}

.colorBoxMin .colors input[value] {
    color: transparent;
}

.colorBoxMin .colors input[type="button" i] {
    width: 20px;
    height: 20px;
    outline: 1px solid #fff;
    outline-offset: 1px;
    border: 1px solid transparent;
    box-shadow:   0 0 4px 1px rgba(230,230,230,1);
    cursor: pointer;
}

.colorBoxMin input[type="button" i].selectColor{
    outline: 1px solid rgba(94, 206, 123, 1);
}

