.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 22px;
    height: 40px;
}

.actions div, .actionButton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.actions .actionButton {
    padding: 0;
    background: #FFFFFF;
    border: none;
    width: fit-content;
    font-size: 16px;
    line-height: inherit;
}

.actions .currencyButton, .cartButton:hover {
    background: #FFFFFF;
    border: none;
    color: #FFFFFF;
    box-sizing: border-box;
}

.actions .currencyLabel {
    width: 38px;
}

/*****************currency*******************************/
.actions label {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    cursor: pointer;
}

.actions .vector {
    display: block;
    filter: none;
    width: 6px;
    height: 3px;
    margin: 21px 0 15px 10px;
}

.actions .vectorRotate {
    transform: rotate(180deg);
}

/*************************cart*******************************/
.actions .cart {
    filter: invert(100);
    width: 20px;
    height: 20px;
}

.actions .numberOrders {
    position: absolute;
    top: 25px;
    right: -13px;
    z-index: 1;
    width: 20px;
    height: 20px;
    background: #1D1F22;
    border-radius: 60px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    justify-content: center;
    text-transform: uppercase;
}




