.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 22px;
    height: 40px;
}

.actions div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}
.actions .currencyLabel{
    width: 38px;
}
/*****************currency*******************************/
.actions label {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    cursor: pointer;
}

.actions .vector {
    display: block;
    filter: none;
    width: 6px;
    height: 3px;
    margin: 21px 0 15px 10px;
}

.actions .vectorRotate{
    transform: rotate(180deg);
}

/******************currenciesList***********************/
/*.actions .currenciesList {*/
/*    width: 114px;*/
/*    height: auto;*/
/*    flex-direction: column;*/
/*    position: absolute;*/
/*    top: 65px;*/
/*    right: 78px;*/
/*    padding-top: 20px;*/
/*    padding-bottom: 20px;*/
/*    gap: 0;*/
/*    box-sizing: border-box;*/
/*    z-index: 1;*/
/*    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));*/
/*}*/

/*.actions .currenciesList input[type="button" i] {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    padding: 8px 0;*/
/*    background: #ffffff;*/
/*    cursor: pointer;*/
/*    border: none;*/
/*}*/

/*.actions .currenciesList input[value] {*/
/*    font-weight: 500;*/
/*    font-size: 18px;*/
/*    line-height: 160%;*/
/*    padding-left: 20px;*/
/*}*/

/*.actions .currenciesList input[type="button" i]:hover {*/
/*    background: #EEEEEE;*/
/*    box-sizing: border-box;*/
/*}*/



/*************************cart*******************************/

.actions .cart {
    filter: invert(100);
    width: 20px;
    height: 20px;
}

.actions .numberOrders {
    position: absolute;
    top: 25px;
    right: -13px;
    z-index: 1;
    width: 20px;
    height: 20px;
    background: #1D1F22;
    border-radius: 60px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    justify-content: center;
}




