/*************************colorBox******************************/

.colorBox {
    display: grid;
    row-gap: 8px;
    grid-template-areas:
    'color'
    'box';
    position: relative;
    width: 116px;
    height: 62px;
    margin-top: 24px;
}

.colorBox h4 {
    grid-area: color;
}

.colorBox .colors {
    grid-area: box;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0;
}

.colorBox .colors input[type="button" i] {
    width: 32px;
    height: 32px;
    cursor: pointer;
    outline: 1px solid #fff;
    outline-offset: 1px;
    border: 1px solid transparent;
}

.colorBox .colors input[type="button" i].white {
    border: 1px solid #000000;
}

.colorBox .colors input[value] {
    color: transparent;
}

.colorBox .colors input[type="button" i].selectColor {
    outline: 1px solid rgba(94, 206, 123, 1);
}

/*.colorBox .colors input[type="button" i].white.selectColor {*/
/*    outline: 1px solid rgba(94, 206, 123, 1);*/
/*    border: 1px solid transparent;*/
/*}*/

