header{
    position: relative;

}

.header {
    grid-area: header;
    display: flex;
    height: 80px;
    padding: 0 101px;
    background: #fff;
}

.header div {
    flex: 1 auto;
    float: right;
}

.navbar{
    margin-top: 24px;
    width: 234px;
    height: 56px;
}

.logo{
    width: 60%;
}
.logo img {
    display: block;
    width: 41px;
    height: 41px;
    margin: 24px auto auto;
}

.actions {
    margin-top: 23px;
}
