
.colorBox{
    display: grid;
    grid-template-areas:
    'color'
    'box';
    position: relative;
    width: 116px;
    height: 62px;
    margin-bottom: 36px;


    /*box-sizing: border-box;*/
    /*border: 1px solid dimgrey;*/
}
.colorBox .title {
    grid-area: color;
}

.colorBox .colors{
    grid-area: box;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0;

}

.colorBox .colors input {
    width: 32px;
    height: 32px;
    cursor: pointer;

    /*box-sizing: border-box;*/
    /*border: 1px solid dimgrey;*/
}

.colorBox .colors input[value] {
    color: transparent;
}

input[type="button" i] {
    border-style: none;
}

input:hover{
    border: 2px solid rgba(94, 206, 123, 1);
    /*поровнять*/
}

.select{
    border: 2px solid rgba(94, 206, 123, 1);
}
.unSelect{

}
